@font-face {
    font-family: 'FiraCode';
    src: url('fonts/FiraCode-Regular.ttf')
}

.topnav {
    background-color: #1E1E2E;
    overflow: hidden;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.topnav a {
    /* float: left; */
    color: #D9E0EE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "FiraCode";
} 

.topnav a:hover {
    background-color: #1A1826;
    color: #D9E0EE;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #DDB6F2;
    color: #1A1826;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #161320;
}

h1 {
    color: #D9E0EE;
    text-align: center;
    font-family: "FiraCode";
}

h2 {
    color: #D9E0EE;
    text-align: center;
    font-family: "FiraCode";
}

h3 {
    color: #D9E0EE;
    text-align: center;
    font-family: "FiraCode";
}
  
p {
    color: #D9E0EE;
    font-family: "FiraCode";
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.centered {
    color: #D9E0EE;
    font-family: "FiraCode";
    font-size: 20px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.padded {
    color: #D9E0EE;
    font-family: "FiraCode";
    font-size: 20px;
    padding-left: 30%;
    padding-right: 30%;
}

.centeredimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    /* padding-left: 25%;
    padding-right: 25%; */
    padding-top: 25px;
    padding-bottom: 25px;
    align-content: center;
    /* size: 14px 14px; */
    width: 100px;
    height: 100px;
}

.project {
    box-sizing: border-box;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #1E1E2E;
    size: 50% 40px;
    overflow: hidden;
    border-radius: 15px;
}

.projectimage {
    float: left;
    border-radius: 25px;
}

.projecttext {
    /* float: inline-end; */
    text-align: center;
}
  
::selection {
    background: #96CDFB;
    color: #1A1826;
}